MOODLE_BROWSER_SHARED_SECRET=replace-with-at-least-32-random-bytes
MOODLE_BROWSER_BASE_URL=https://edu.mmcs.sfedu.ru
MOODLE_BROWSER_HEADLESS=true
MOODLE_BROWSER_MAX_CONCURRENT_OPERATIONS=3
MOODLE_BROWSER_QUEUE_WAIT_SECONDS=8
MOODLE_BROWSER_NAVIGATION_TIMEOUT_MS=30000
MOODLE_BROWSER_LOGIN_OPERATION_TIMEOUT_SECONDS=45
MOODLE_BROWSER_MAX_PARTICIPANT_PAGES=50
MOODLE_BROWSER_PARTICIPANTS_PER_PAGE=100
MOODLE_BROWSER_MAX_PARTICIPANTS=5000
MOODLE_BROWSER_MAX_COURSE_SECTION_PAGES=128
MOODLE_BROWSER_STORAGE_STATE_MAX_BYTES=262144
MOODLE_BROWSER_ARTIFACT_MAX_BYTES=4194304
MOODLE_BROWSER_REQUEST_BODY_MAX_BYTES=6291456
MOODLE_BROWSER_IDEMPOTENCY_CACHE_ENTRIES=1000
MOODLE_BROWSER_SIGNATURE_CLOCK_SKEW_SECONDS=60
MOODLE_BROWSER_NONCE_TTL_SECONDS=300
